body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
}

.input-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: black; }

.convert-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.resultado {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}